header {
    height: 100px;
    background: rgb(201, 201, 201);
}

.smallblue {
    background: rgb(0, 132, 255);
    height: 80px;
    width: 80px;
    margin-left:20px;
    margin-top: 10px;
    display: inline-block;
}

.textbox {
    height: 400px;

}
p {
    text-align: left;
    font-size: 35px;
    padding: 100px;
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    

}

.bluebox {
    background: rgb(0, 132, 255);
    height: 122px;

}

.tealbox {
    background: teal;
    height: 122px;
}

.greenbox{
    background: rgb(118, 199, 118);
    height: 122px;

}

.yellowbox {
  height: 122px;
  background: yellow;
}
